<%- include('../partials/header'); %> 

    <div class="container">
        <div class="vivid">
            <h1>
                <span>meetings</span><br>
                landing page
            </h1>
        </div>
        <div class="solid">
            <h1>
                hello from demo &copy;
            </h1>
        </div>
        <div class="slide">
                <div class="slide-navigation">
                    <div>
                        <i class="fas fa-chevron-left"></i>
                    </div>
                    <div>
                        <i class="fas fa-bars"></i>
                    </div>
                    <div>
                        <i class="fas fa-chevron-right"></i>
                    </div>
                </div>
                <div class="slide-divider">
                    <!-- cards section -->
                    <div class="divider-card-container">
                        <h2>
                            upcoming<br>
                            <span>meetings today</span>
                        </h2>
                        <% meetings.forEach(function(meetings){ %>
                            <!-- individual cards -->
                            <div class="meeting-card">
                                <div class="meeting-card-header">
                                    <h4>
                                        <%= meetings.name %>
                                    </h4>
                                    <div class="meeting-card-userinfo">
                                        <span>
                                            <%= moment(meetings.created).fromNow() %>
                                        </span>
                                        by&nbsp;<a class="" href="/users/<%=meetings.author.id%>"><%= meetings.author.username %></a>
                                    </div>
                                </div>
                                <div class="meeting-date">on <%= meetings.created.toDateString() %></div>
                                <div class="meeting-card-details">
                                    <p>                                 
                                        <%= meetings.content.substring(0, 25) %> ...
                                    </p>
                                    <a class="" href="/meetings/<%=meetings._id%>">... More</a>
                                </div>

                                <div class="meeting-card-room"><%= meetings.startTime %>&nbsp;-&nbsp;<span><%= meetings.finishTime %></span></div>
                            </div>
                            
                        <% }); %>
                    </div>

                </div>

                <div class="slide-divider">
                    
                </div>
                
                <div class="circle-xlarge">
                    
                </div>
                <div class="circle-xxlarge">
                    
                </div>
                <div class="circle-offset-slidecounter">
                    <div>Limit <br><span><%= meetings.length %></span></div>
                </div>
                <div class="circle-large">
                    <a href="">
                        <div class="circle-medium circle-medium-1">
                            <i class="fas fa-street-view"></i>
                            <h3>Something I forgot</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing!</p>
                        </div>
                    </a>
                    <a href="/meetings/add">
                        <div class="circle-medium circle-medium-2">
                            <i class="fas fa-handshake"></i>
                            <h3>Schedule your meeting</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing!</p>
                        </div>
                    </a>
                    <a href="/meetings/all">
                        <div class="circle-medium circle-medium-3">
                            <i class="fas fa-calendar-plus"></i>
                            <h3>View all meetings</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing!</p>
                        </div>
                    </a>
                </div>

        </div>
    </div>

<%- include('../partials/footer'); %>