<%- include('../partials/header'); %>

<div class="container">
            <div class="">
            
                <h2 class="">
                    <%= posts.name %>
                </h2>        
                <p class="">
                    <span> <%= posts.created.toDateString() %></span><p>POSTED BY <a class="" href="/users/<%=posts.author.id%>"> <%= posts.author.username %></a>
                </p>
            
                <p>
                    <%= posts.content %> 
                </p>
                <% if(currentUser && posts.author.id.equals(currentUser._id)) { %>
                </div>
                    <div class="">

                    <a class="btn" href="/posts/<%= posts._id %>/edit">Edit posts</a>

                    <form action="/posts/<%= posts._id %>?_method=DELETE" method="POST">
                        <input class="" type="submit" value="Delete posts">
                    </form>
                
                    <% } %>
            </div>
           



            <form class="" action="/posts/<%= posts._id %>/comments" method="POST">
                <div class="">    
                    <input class="" type="text" name="comment[text]" placeholder="Add Comment"></input>
                </div>
                    <input class="" type="submit" value="Send">
            </form>


<% posts.comments.forEach(function(comment) { %>
    <div class="">
        <div class="">
            <a class="" href="/users/<%=comment.author.id%>">
            <%= comment.author.username %>
            </a>

            <%= moment(comment.created).fromNow() %>
            <p class="">
            <%=comment.text%>
            </p>
        </div>
        <% if(currentUser && comment.author.id.equals(currentUser._id)) { %>
        <div class="">
                
                <a class="" href="/posts/<%= posts._id %>/comments/<%= comment._id %>/edit">Edit comment</a>
                <form action="/posts/<%= posts._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                    <input class="" type="submit" class="" value="Delete Comment">
                </form>
                
        </div>
        <% } %>
                             
    </div>    
   
<% }); %>    
            
</div>

<%- include('../partials/footer'); %>